body {
    background: linear-gradient(#646464, #444343, #000000);		
    overflow: hidden;
    margin: 0;
}

#container
{
  /* pointer-events: none; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
}

a {
    text-decoration: none !important;
}

#headerinfo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: grid;
    grid-row-gap: 5px;
    z-index: 1;
}

.nametag {
    padding: 5px;
    background: #ffffffb5;
    border: 1px solid black;
    border-radius: .25em;
    font-family: courier;
    font-weight: bold;
    box-shadow: 2px 3px 5px 1px #0000006b;
}

.link_icons {   
    display: grid;
    /* grid-row-gap: 5px; */
    grid-column-gap: 0px;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}

.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
}
.tab {
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.tab.active {
    background-color: #ddd;
}

#loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #172836;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    z-index: 10;
}

#loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #172836;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    z-index: 10;
}

#progress-bar-container {
    width: 80%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

#progress-bar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
    border-radius: 10px;
}